.app{
   min-height: 108vh;
    font-size: 16px;
}

.app-header{
    height: 10vh;
    width: 100vh;
    padding-left: 5%;
    display: flex;
    align-items: center;
    background-color: rebeccapurple;
    box-sizing: border-box;
}

.app-container{
    ...
}

.app-menu{
    ...
}

.app-content{
    ...
}

.app-footer{
    ...
}
